body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: orange
  }

  .wrapper {
    width: 650px;
    margin: 0 auto;
    height: 100%;
    padding-top: 75px;
  }
  
  #quiz {
    background-color: indigo;
    padding-bottom: 60px;
    width: 100%;
    border-radius: 5%;
    color: white;
    text-align: center;
    box-shadow: 10px 10px 30px 30px whitesmoke;     
}
  
  #quiz > h1 {
    text-align: center;
    padding-top: 25px;
    font-size: 20px;
  }
  
  .questions {
    font-size: 28px;
    font-weight: 700;
    font-style: italic;
    /* border: 5px solid yellow; */
    background-color: #DC4437;
    /* border-bottom: 1px solid #FFFFFF; */
    padding: 20px;
  }
  
  .answers div {
    padding: 10px 1px 10px 10px;
    font-size: 16px;    
  }
  
  .answers div:hover {
    cursor: pointer;
    background-color: red;
  }
  
  .answers {
    padding: 10px 10px 10px 10px;    
  }
  
  .answers div {
    width: 50%;
    margin: 0 auto;
    padding-bottom: 15px;
    /* border-top: 1px solid black; */
    border: 5px solid wheat;
    background-color: blue;    
  }
  
  .record-data { 
    padding: 10px 10px 10px 10px;
     /* border: 5px solid red; */
     background-color:green
  } 
  
  .checker {
    display: inline-block;
    width: 200px;
    margin: 0 auto;
  }

  .checkAnswers {
    /* border: 5px solid pink; */
    background-color:blue;
    padding: 10px;
  }

  .correct, .false {
    background-color: #109D59;
    width: 60px;
    height: 30px;
    line-height: 30px;
    padding-left: 4px;
    float: left;
    margin-left: 2px;
    margin-top: 2px;
  }
  
  .false {
    background-color: #DC4437;
  }

  @media screen and (max-width:992px) {
    .wrapper{
      width: 70%;
      padding: 10px 10px 10px 10px;
    }
    .questions {
      font-size:18px;
      padding: 5px 5px 5px 5px;
    }
    .answers div {
      font-size:13px;
      padding: 5px 5px 5px 5px;
    }
    .record-data {
      padding: 5px 5px 5px 5px;
    }
    .checkAnswers {
      padding: 5px 5px 5px 5px;
    }    
  }